@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura|Zeyada&display=swap');
body{
    background-color: black;
	margin: auto;
	padding: 0;
	display: block;
	/*font-family: 'Josefin Slab', serif;*/
	font-family: 'Montserrat', sans-serif;
}
p {
	font-size: 14px;
	line-height:25px;
}
.texto_original {
	font-size: 14px;
	line-height:25px;
	margin-top: 0;
}
.wrap{
	width:98%;
	overflow: auto;
    background-color: white;
	margin:1% auto;
}
#menu{
	width: 475px;
	overflow: auto;
	float: right;
	margin-top: 0px;
	font-size: 16px;
	text-transform: uppercase;
}
#menu ul{
	padding: 0;
	margin: 0;
}
#menu ul li {
	padding: 20px;
	background-color: red ;
	float: left;
	list-style: none;
}
#menu ul li:hover {
	background-color: rgba(0,0,0,.3);
	color: white;
	transition: 0.7s;
}
#menu a {
	color: white;
	text-decoration: none;
	
}
a {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
  }
.img_in_banner{
	width: 120%;
	height:400%;
	margin:-50% -5% -266.6% -5%;
	margin-bottom:-450px;
	filter: blur(7px);
	-moz-filter: blur(7px);
	-webkit-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
}
.banner	{
	width: 75%;
	height: 670px;
	background-image: url("../doc/img/frontend/banner02.jpg");
	background-size: cover;
	margin:70px auto 0;
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
	padding-top: 30px;
}
.banner_d {
	width: 75%;
	height:230px;
	position:relative;
	overflow:hidden;
	text-align:center;
	margin:70px auto;	
}
.cat_banner {
	width: 100%;
	height:250px;
	position:relative;
	overflow:hidden;
	margin:0 auto 20px;
	text-align: center;
	background-repeat: no-repeat;
    background-position: 50% 50%;
}
.cat_banner_link {
	width: 100%; 
	height: 250px;
}
.cat_banner_link:hover {
	background-color: rgba(0,0,0,.7);
	transition: 0.7s;
}
.content_flayer2{
	width: 100%;
	margin:8% auto 0;
	position: absolute;
	text-transform: uppercase;
	text-align:center;
	color:#FFF;
}
.content_flayer3{
	width:100%;
	/*background-color: #06C;*/
	position:absolute;
	padding: 0;
}
.over_c{
	width: 75%;
	height: 200px;
	line-height:200px;
	background-color: #FFF;
	margin:0 auto 70px;
}
.over_ct {
	width: 15%;
	float: left;
	padding: 0 5%;
}
.over_cc {
	width: 70%;
	float: right;
	padding-left: 5%;
	text-align: justify;
}
.content {
	width: 75%;
	overflow: hidden;
	/*background-color: #CCC;*/
	margin:0 auto 40px;
}
.u_info {
	width: 100%;
	height: 400px;
	/*background-color: brown;*/
	margin: 0 auto;
}
.txt_a {
	width: 40%;
	height: 400px;
	background-color: #fafafa;
	line-height:350px;
	float: left;
	padding:1% 5%;
}
.txt_b {
	width: 40%;
	height: 400px;
	background-color: #fafafa;
	line-height:350px;
	float: right;
	padding: 1% 5%;
}
.pic_a {
	width: 48%;
	height: 400px;
	background-size: cover;
	background-color: #fafafa;
	background-position: 50% 50%;
	object-fit: cover;
    object-position: center center;
	float: right;
	padding: 1%;

	overflow:hidden;
	text-align: center;
	background-repeat: no-repeat;
}
.pic_b {
	width: 48%;
	height: 400px;
	background-size: cover;
	background-color: #fafafa;
	background-position: 50% 50%;
	object-fit: cover;
    object-position: center center;
	float: left;
	padding: 1%;
	overflow:hidden;
	text-align: center;
	background-repeat: no-repeat;
}
.v_centrado {
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
}
.pic_description {
	width: 44%;
	overflow: auto;
	color: #FFF;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding: 3%;
}
.pic_zoom {
	width: 70%;
	height: 800px;
	overflow: hidden;
	float: left;
}
.pic_details {
	width: 24%;
	overflow: auto;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding: 3%;
}




.cajita {
    width: 32.3%;
    height: 480px;
    background-color: #FFF;
    margin: 0 0.5% 30px;
    float: left;
  }
  .caja_pic {
    width: 100%;
    height: 60%;
    background-color: #999;
    overflow: hidden;
  }
  .caja_pic img {
    width: 120%;
    margin: -8% 0 0 -10%;
  }
  .caja_txt {
    width: 90%;
    height: 30%;
    background-color: #fafafa;
    padding:5%;
    color: #999;
  }




.bg_about_me {
	width: 75%;
	height:1000px;
	position:relative;
	overflow:hidden;
	text-align:center;
	margin:70px auto;
	background-repeat: no-repeat;
	
	/*filter:brightness(0.4);*/
}
.bgd_about_me {
	width: 100%;
	height:1000px;
	padding-top: 30px;
	background-color: rgba(0,0,0,.3);
}


.contact_content{
	width: 90%;
	margin: 400px auto 0;
}
.separador{
	width:66%; 
	/*height:300px;*/
	padding:0 2%;
	color: #FFF;
	text-shadow: 1px 1px 15px #000;
	/*background:#F63;*/ 
	float:left;
}
.button{
	background-color: steelblue;
	color:#FFF;
	font-size: 14px;
	border-radius:15px;
	padding:9px 20px;
	margin: 0 20px;
	border: 0;
}
.button:hover{
	background:#FFF;
	color:#999;	
	-moz-transition: all 300ms ease-in-out 100ms;
    -ms-transition: all 300ms ease-in-out 100ms;
    -o-transition: all 300ms ease-in-out 100ms;
    -webkit-transition: all 300ms ease-in-out 100ms;
    transition: all 300ms ease-in-out 100ms;
}
.sidebar{
	width:26%;
	height:370px;
	color: #FFF;
	text-shadow: 1px 1px 15px #000;
	background-color: rgba(0,0,0,.7);
	margin-bottom:50px;
	/*height:300px;*/ 
	padding:40px 2%;
	float:left;
}



.foot{
	width: 75%;
	height: 200px;
	background-color: #FFF;
	margin:0 auto;
	line-height:200px;
	border-top: 1px solid red;
	text-align: center;
}